/* .degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 600px;
    height: 600px;
} */
body{
    background-color:rgb(64,65,81);
}

.strip_box{
    height:50px;
    width:80vw;
    margin-top:10px;
    background-color:rgb(102,100,157);
    }

h1{
    text-align:center;
    margin:auto;
    margin-top:10px;
    font-size:45px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    color:rgb(205,210,214);
}

/* .radar_box{
    height:700px;
    width:40vw;
    margin-right:30px;
    margin-top:90px;
    background-color:rgb(205,210,214);
} */

.body_page{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    width:50vw;
}

.test{
    height:400px;
    width:40vw;
}

.current_temp_container{
    height:750px;
    width:50vw;
    background-color:rgb(36,34,52);
}

h2{
    font-size:40px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    color:rgb(205,210,214);
    text-align:center;
    margin-right:-50px;
    margin-left:0px;
}

.degree_circle{
    height:15px;
    width:1vw;
    border:solid #bbb;
    border-radius:55%;
    margin-left:510px;
    margin-top:30px;
}

h6{
    font-size:100px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    text-align:center;
    color:rgb(205,210,214);
    margin-top:-40px;
}

.current_feel{
    font-size:35px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    text-align:center;
    color:rgb(205,210,214);
    margin-top:-200px;
}

.date_time{
    font-size:35px;
    font-family:"Century Gothic",serif;
    font-style:Bold;
    text-align:center;
    margin-top:-65px;
    color:rgb(205,210,214);
    border-bottom:10px solid rgb(102,100,157);
}

.precipitation{
    font-size:25px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    color:rgb(102,100,157);
    text-align:center;
    margin-top:-50px;
}

.wind_dir{
    font-size:25px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    color:rgb(102,100,157);
    text-align:center;
    margin-top:-10px;
}

.wind_sp{
    font-size:25px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    color:rgb(102,100,157);
    text-align:center;
    margin-top:-10px;
}

.suns{
    font-size:25px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    color:rgb(102,100,157);
    text-align:center;
    margin-top:-10px;
}

.info{
    font-size:25px;
    font-family:"Century Gothic",serif;
    font-style:bold;
    color:rgb(102,100,157);
    text-align:center;
    margin-top:-10px;
}

.forecast_box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap:1em;
    margin-top:100px;
    width:50vw;
}

.day_slot{
    background-color:rgb(36,34,52);
}

.icon-01d{
    background-image:"/img/01d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-02d{
    background-image:"/img/02d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;  
}

.icon-03d{
    background-image:"/img/03d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
} 

.icon-04d{
    background-image:"/img/04d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}
    
.icon-09d{
    background-image:"/img/09d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-10d{
    background-image:"/img/10d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-11d{
    background-image:"/img/11d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-13d{
    background-image:"/img/13d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-50d{
    background-image:"/img/50d.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-01n{
    background-image:"/img/01n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-02n{
    background-image:"/img/02n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-03n{
    background-image:"/img/03n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-04n{
    background-image:"/img/04n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-09n{
    background-image:"/img/09n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-10n{
    background-image:"/img/10n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-11n{
    background-image:"/img/11n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-13n{
    background-image:"/img/13n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

.icon-50n{
    background-image:"/img/50n@2x.png";
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:200px;
    height:200px;
}

h4{
    font-family:"Century Gothic",serif;
    font-style:Bold;
    font-size:30px;
    color:rgb(22,76,198);
    text-align:center;
    border-bottom: 5px solid rgb(102,100,157);
}

h3{
    font-family:"Century Gothic",Impact;
    font-style:Bold;
    font-size:25px;
    color:rgb(22,76,198);
    text-align:center;
    margin-top:40px;
}

